.task {
    border: 4px solid transparent;
    border-radius: 4px;
    margin: 14px 0;
    /* background-color: #f0f0f0; */
    background-color: #7ab2ff;
    display: flex;
    flex-direction: row;
    padding: 6px;
    height: 130px;
    width: 560px;
}

.task:hover {
    /* border: 1px solid #e0e0e0; */
        border: 4px solid #3e50db;
}

/* #task:active {
    background-color: #d0d0d0;
} */
