#task-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#task-list #add-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#task-list ul{
   list-style: none;
   margin: 0;
   padding: 14px 0;
}

