#update-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#update-task button {
    min-width: 50px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #3ae259;
}

#update-task button:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

