#update-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7ab2ff;
}

#update-task .input-container {
    margin-left: 6px;
    width: 355px;
}

#update-task .input-container input {
    width: 90%;
}

#update-task .btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 6px;
}

#update-task button {
    min-width: 50px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #3ae259;
}

#update-task button:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

