* {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(181, 181, 181); */
    background-color: rgb(255 252 252);
    font-family: sans-serif;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 85%;
    /* border: none; */
    /* resize: none; */
    /* overflow: scroll; */
}

textarea:focus {
    /* outline: none; */
}